.mobileContentPage{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
    width: 100%;
    position: relative;
}

.mobileComponentPage{
    margin: 8px 0;
}

.mobilephones{
    font-weight: 500;
    font-size: 18px;
}

.mobilephonespara{
    color: #878787;
    margin-top: 10px;
}

.mobileContentPara{
    clear: both;
    line-height: 1.45;
    font-size: 12px;
}

.mobileTcontent{
    display: flex;
    cursor: pointer;
    color: #0000FF;
}